<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <a href="#">Konnect</a>
  is a project to connect millions .For further info or queries please contact <a href="http://fb.com/danielsam.fdo">Daniel</a>.
</p>